@model Ecommerce.Models.Order_preorder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutLogin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order_preorder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOrder_preorder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
