
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Ecommerce.Models.Order_preorder>




<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            @if (Model != null)
            {
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Producto</th>
                                <th scope="col">En stock</th>

                                <th scope="col" class="text-right">Precio</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-right">Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{decimal grantotal = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>@item.Product_.productName</td>
                                    <td>In stock</td>
                                    <td class="text-right">$@item.Product_.price </td>
                                    <td><input class="form-control" type="text" value="@item.quantity" /></td>
                                    @{var total = item.Product_.price * item.quantity;
                                        grantotal = (decimal)(total + grantotal);}
                                    <td class="text-right">@total</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger" onclick="remove(@item.idProduct)">X</button> </td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><h3>$@grantotal</h3></td>
                                <td></td>
                            </tr>


                        </tbody>
                    </table>



                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <button class="btn btn-block btn-light">Continuar comprando</button>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                  @Html.ActionLink("Pagar", "pay", "Cart" ,null, new {@class="btn btn-lg btn-block btn-success text-uppercase"})
                        </div>
                    </div>
                </div>
            }
            else
            {

                <h3>El carrito no tiene produtos, elije alguno de nustros productos</h3>
            }

        </div>
</div>
    </div>

<script type="text/javascript">


    function remove(IdProduct) {
        console.log(IdProduct);
        var dataToLog = { 'Product': IdProduct };
        $.ajax({
            type: "POST",                                              // tipo de request que estamos generando
            url: 'https://localhost:44383/Cart/removeFromCart',                    // URL al que vamos a hacer el pedido
            data: JSON.stringify(dataToLog),                                                // data es un arreglo JSON que contiene los parámetros que
            // van a ser recibidos por la función del servidor
            contentType: "application/json; charset=utf-8",            // tipo de contenido
            dataType: "json",                                          // formato de transmición de datos
            async: true,                                               // si es asincrónico o no
            success: function (resultado) {                            // función que va a ejecutar si el pedido fue exitoso

                console.log("Success");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                console.log("error" + errorThrown + textStatus);
                console.log(XMLHttpRequest.responseText);
            }
        });
        window.location.href = "https://localhost:44383/Cart";
    }

</script>